<div class="top-header">
    <div class="container">
        <div class="top-header-left">
            <ul>
                <li><a href="myaccount.cshtml">My Account</a></li>
                <li><a href="checkout.cshtml">Checkout</a></li>
            </ul>
            <div class="clearfix"> </div>
        </div>
        <div class="top-header-center">
            <p><span class="cart"> </span>Cart<label>$5256</label></p>
        </div>
        <div class="top-header-right">
            <ul>
                <li>
                    <form>
                        <input type="text">
                        <input type="submit" value="" />
                    </form>

                </li>
                <li><a href="/Login/Login">Login</a></li>
                <li><a href="/HomePage/register">Register</a></li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
</div>